**/*

!**/*/

dist/
node_modules/
target/

!*.css
!*.html
!*.js
!*.json
!*.md
!*.scss
!*.yaml
!*.yml

**/terraform/*
**/vendor/*
!**/vendor/*.md

content/source/**/*

src/lifestream/**/*
src/blog/**/*
