<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>
      hyperbo.la :: <%= require('./' + htmlWebpackPlugin.options.slug +
      '.yaml').title %>
    </title>

    <!-- opengraph metadata -->
    <meta property="og:site_name" content="hyperbo.la" />
    <meta
      property="og:url"
      content="https://hyperbo.la/w/<%= htmlWebpackPlugin.options.slug %>"
    />
    <meta property="og:image" content="https://hyperbo.la/logo.png" />
    <meta property="og:type" content="article" />
    <meta
      property="og:article:published_time"
      content="<%= require('./' + htmlWebpackPlugin.options.slug + '.yaml').publishDatestamp %>"
    />
    <meta
      property="og:article:modified_time"
      content="<%= require('./' + htmlWebpackPlugin.options.slug + '.yaml').publishDatestamp %>"
    />
    <meta
      property="og:article:author"
      content="https://www.facebook.com/ryan.lopopolo"
    />
    <meta
      property="og:title"
      content="<%= require('./' + htmlWebpackPlugin.options.slug + '.yaml').title %>"
    />
    <meta
      property="og:description"
      content="<%= require('./' + htmlWebpackPlugin.options.slug + '.yaml').summary %>"
    />

    <%= require('html-loader!../partials/favicons.html') %> <%=
    require('html-loader!../partials/google-analytics.html') %>
  </head>
  <body class="blog">
    <div class="container mb-5">
      <%= require('html-loader!../partials/nav.html') %>
      <div class="card hyperbola-section-title my-3 w-100">
        <div class="card-body">
          <span class="card-title">
            <strong>
              hyperbo.la :: <%= require('./' + htmlWebpackPlugin.options.slug +
              '.yaml').title %>
            </strong>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="card mb-3">
            <div class="card-body">
              <h2 class="card-title text-center">
                <a href="/w/<%= htmlWebpackPlugin.options.slug %>">
                  <%= require('./' + htmlWebpackPlugin.options.slug +
                  '.yaml').title %>
                </a>
              </h2>
              <h6 class="card-subtitle text-center mb-2 text-muted">
                <a href="/contact/">Ryan Lopopolo</a> | <%= require('./' +
                htmlWebpackPlugin.options.slug + '.yaml').publishDate %>
              </h6>
              <div class="card-text">
                <%= require('./' + htmlWebpackPlugin.options.slug + '.md') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
