<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Ryan Lopopolo's contact information." />
    <meta name="author" content="Ryan Lopopolo" />

    <title>hyperbo.la :: contact</title>

    <link rel="canonical" href="https://hyperbo.la/contact/" />

    <!-- Favicons -->
    <%= require("../partials/favicons.html").default %>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Contact" />
    <meta
      name="twitter:description"
      content="hyperbo.la: Contact Ryan Lopopolo."
    />
    <meta
      name="twitter:image"
      content="https://hyperbo.la/hyperbola-logo.png"
    />

    <!-- Facebook Open Graph metadata -->
    <meta property="og:url" content="https://hyperbo.la/contact/" />
    <meta property="og:site_name" content="hyperbo.la" />
    <meta property="og:title" content="hyperbo.la :: contact" />
    <meta
      property="og:description"
      content="hyperbo.la: Contact Ryan Lopopolo."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://hyperbo.la/hyperbola-logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />

    <%= require("../partials/google-analytics.html").default %>
  </head>
  <body class="contact">
    <div class="container mb-5">
      <%= require('../partials/nav.html').default %>
      <div class="card hyperbola-section-title my-3 w-100">
        <div class="card-body">
          <span class="card-title"><strong>hyperbo.la :: contact</strong></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h1>Ryan Lopopolo</h1>
          <h2>Personal</h2>
          <div class="row">
            <div class="col-md-4 d-inline-block text-truncate">Email</div>
            <div class="col-md-8 d-inline-block text-truncate">
              <a
                href="mailto:&#114;&#106;&#108;&#064;&#104;&#121;&#112;&#101;&#114;&#098;&#111;&#046;&#108;&#097;"
              >
                &#114;&#106;&#108;&#064;&#104;&#121;&#112;&#101;&#114;&#098;&#111;&#046;&#108;&#097;
              </a>
            </div>
            <div class="col-md-4 d-inline-block text-truncate">GitHub</div>
            <div class="col-md-8 d-inline-block text-truncate">
              <a href="https://github.com/lopopolo">
                https://github.com/lopopolo
              </a>
            </div>
            <div class="col-md-4 d-inline-block text-truncate">LinkedIn</div>
            <div class="col-md-8 d-inline-block text-truncate">
              <a href="https://www.linkedin.com/in/ryanlopopolo">
                https://www.linkedin.com/in/ryanlopopolo
              </a>
            </div>
          </div>
          <h2>Résumé</h2>
          <div class="row">
            <div class="col-md-4 d-inline-block text-truncate">
              <time datetime="2021-04-20">April 20, 2021</time>
            </div>
            <div class="col-md-8 d-inline-block text-truncate">
              <a href="<%= require('./resume.pdf') %>">
                https://hyperbo.la/contact/resume/lopopolo.pdf
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h2>About</h2>
          <div class="card mb-3 rounded">
            <img
              class="card-img-top"
              alt="Ryan Lopopolo"
              src="<%= require('./lopopolo.jpg') %>"
              srcset="<%= require('./lopopolo.jpg') %> 240w,<%= require('./lopopolo@2x.jpg') %> 480w,<%= require('./lopopolo@3x.jpg') %> 720w"
            />
            <div class="card-body">
              <p class="card-text">I use Ruby like a hammer sometimes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
