<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Ryan Lopopolo's website." />
    <meta name="author" content="Ryan Lopopolo" />

    <title>hyperbo.la</title>

    <link rel="canonical" href="https://hyperbo.la/" />

    <!-- Favicons -->
    <%= require("../partials/favicons.html").default %>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="hyperbo.la" />
    <meta
      name="twitter:description"
      content="hyperbo.la: Ryan Lopopolo's website."
    />
    <meta
      name="twitter:image"
      content="https://hyperbo.la/hyperbola-logo.png"
    />

    <!-- Facebook Open Graph metadata -->
    <meta property="og:url" content="https://hyperbo.la/" />
    <meta property="og:site_name" content="hyperbo.la" />
    <meta property="og:title" content="hyperbo.la" />
    <meta
      property="og:description"
      content="hyperbo.la: Ryan Lopopolo's website."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://hyperbo.la/hyperbola-logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />

    <%= require("../partials/google-analytics.html").default %>
  </head>
  <body class="frontpage">
    <div class="container mb-5">
      <%= require('../partials/nav.html').default %>
      <div class="card hyperbola-section-title my-3 w-100">
        <div class="card-body">
          <span class="card-title"><strong>hyperbo.la</strong></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div><%= require('./card-01-welcome.md').default %></div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <div><%= require('./card-02-hello.md').default %></div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <div><%= require('./card-03-gpg-keys.md').default %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex flex-column">
            <h2>Current Pursuits</h2>
            <div><%= require('./status-stripe.md').default %></div>
            <div><%= require('./status-artichoke.md').default %></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
