<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>hyperbo.la</title>

    <!-- opengraph metadata -->
    <meta property="og:title" content="hyperbo.la" />
    <meta property="og:site_name" content="hyperbo.la" />
    <meta property="og:url" content="https://hyperbo.la/" />
    <meta
      property="og:description"
      content="hyperbo.la: Ryan Lopopolo's website"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://hyperbo.la/logo.png" />

    <%= require('html-loader!../partials/favicons.html') %> <%=
    require('html-loader!../partials/google-analytics.html') %>
  </head>
  <body class="frontpage">
    <div class="container mb-5">
      <%= require('html-loader!../partials/nav.html') %>
      <div class="card hyperbola-section-title my-3 w-100">
        <div class="card-body">
          <span class="card-title"><strong>hyperbo.la</strong></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div>
                <%= require('./card-01.md') %>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <div>
                <%= require('./card-02.md') %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex flex-column">
            <h2>Current Pursuits</h2>
            <div>
              <%= require('./status-stripe.md') %>
            </div>
            <div>
              <%= require('./status-artichoke.md')
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
