<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>
      hyperbo.la :: lifestream
    </title>

    <!-- opengraph metadata -->
    <meta property="og:site_name" content="hyperbo.la" />
    <meta property="og:url" content="https://hyperbo.la/lifestream/" />
    <meta property="og:image" content="https://hyperbo.la/logo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="hyperbo.la lifestream" />
    <meta
      property="og:description"
      content="Ryan Lopopolo's microblog on hyperbo.la"
    />

    <%%= require('html-loader!../../partials/favicons.html') %%> <%%=
    require('html-loader!../../partials/google-analytics.html') %%>
  </head>
  <body class="lifestream">
    <div class="container mb-5">
      <%%= require('html-loader!../../partials/nav.html') %%>
      <div class="card hyperbola-section-title my-3 w-100">
        <div class="card-body">
          <span class="card-title">
            <strong>hyperbo.la :: lifestream</strong>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
        <% for (const post of posts) { %>
          <div class="card mb-3 rounded">
            <% if (post.image) { %>
              <img
                class="card-img-top img-thumbnail"
                alt="Photo for post <%= post.id %>"
                src="<%%= require('responsive-loader!<%= post.image %>?sizes[]=500,sizes[]=1000,sizes[]=1500').src %%>"
                srcset="<%%= require('responsive-loader!<%= post.image %>?sizes[]=500,sizes[]=1000,sizes[]=1500').srcSet %%>"
              />
            <% } %>
            <div class="card-body">
              <small class="card-subtitle">
                <time datetime="<%= post.publishDateUtcDatestamp %>">
                  <%= post.publishDateDisplay %>
                </time>
                <a href="<%= postAbsoluteUrl(post) %>">permalink</a>
              </small>
              <p class="card-text lifestream-content"><%- post.post %></p>
            </div>
          </div>
        <% } %>
          <div class="d-flex flex-row justify-content-between">
            <% if (hasNewer()) { %>
            <a href="<%= newer() %>">&laquo; newer</a>
            <% } %>
            <span></span>
            <% if (hasOlder()) { %>
            <a href="<%= older() %>">older &raquo;</a>
            <% } %>
          </div>
        </div>
        <%%= require('html-loader!../partials/archive.html') %%>
      </div>
    </div>
  </body>
</html>
