<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Ryan Lopopolo's blog index." />
    <meta name="author" content="Ryan Lopopolo" />

    <title><%= title() %></title>

    <link rel="canonical" href="<%= canonicalUrl() %>" />

    <!-- Favicons -->
    <%%= require("../../partials/favicons.html").default %%>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= title() %>" />
    <meta
      name="twitter:description"
      content="<%= description() %>"
    />
    <meta
      name="twitter:image"
      content="https://hyperbo.la/hyperbola-logo.png"
    />

    <!-- Facebook Open Graph metadata -->
    <meta property="og:url" content="<%= canonicalUrl() %>" />
    <meta property="og:site_name" content="hyperbo.la" />
    <meta property="og:title" content="<%= title() %>" />
    <meta
      property="og:description"
      content="<%= description() %>"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://hyperbo.la/hyperbola-logo.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />

    <%%= require("../../partials/google-analytics.html").default %%>
  </head>
  <body class="blog">
    <div class="container mb-5">
      <%%= require('../../partials/nav.html').default %%>
      <div class="card hyperbola-section-title my-3 w-100">
        <div class="card-body">
          <span class="card-title">
            <strong>hyperbo.la :: blog</strong>
          </span>
        </div>
      </div>
      <% for (const post of posts) { %>
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <div class="card mb-3">
            <div class="card-body">
              <h2 class="card-title">
                <a href="<%= post.absoluteUrl %>"> <%= post.title %> </a>
              </h2>
              <div class="h6 card-subtitle mb-2 hyperbola-text-timestamp">
                <a href="/contact/">Ryan Lopopolo</a> | <%= post.publishDate %>
              </div>
              <div class="card-text"><%= post.summary %></div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
