<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>hyperbo.la :: blog</title>

    <!-- opengraph metadata -->
    <meta property="og:site_name" content="hyperbo.la" />
    <meta property="og:url" content="https://hyperbo.la/w/" />
    <meta property="og:image" content="https://hyperbo.la/hyperbola-logo.png" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Ryan Lopopolo's blog on hyperbo.la"
    />

    <%%= require('../../partials/favicons.html').default %%> <%%=
    require('../../partials/google-analytics.html').default %%>
  </head>
  <body class="blog">
    <div class="container mb-5">
      <%%= require('../../partials/nav.html').default %%>
      <div class="card hyperbola-section-title my-3 w-100">
        <div class="card-body">
          <span class="card-title">
            <strong>hyperbo.la :: blog</strong>
          </span>
        </div>
      </div>
      <% for (const post of posts) { %>
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <div class="card mb-3">
            <div class="card-body">
              <h2 class="card-title">
                <a href="<%= post.absoluteUrl %>"> <%= post.title %> </a>
              </h2>
              <div class="h6 card-subtitle mb-2 hyperbola-text-timestamp">
                <a href="/contact/">Ryan Lopopolo</a> | <%= post.publishDate %>
              </div>
              <div class="card-text"><%= post.summary %></div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
