<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>hyperbo.la :: <%= post.title %></title>

    <!-- opengraph metadata -->
    <meta property="og:site_name" content="hyperbo.la" />
    <meta
      property="og:url"
      content="https://hyperbo.la<%= post.absoluteUrl %>"
    />
    <meta property="og:image" content="https://hyperbo.la/hyperbola-logo.png" />
    <meta property="og:type" content="article" />
    <meta
      property="og:article:published_time"
      content="<%= post.datestamp %>"
    />
    <meta property="og:article:modified_time" content="<%= post.datestamp %>" />
    <meta
      property="og:article:author"
      content="https://www.facebook.com/ryan.lopopolo"
    />
    <meta property="og:title" content="<%= post.title %>" />
    <meta property="og:description" content="<%= post.summary %>" />

    <%%= require('../../../partials/favicons.html').default %%> <%%=
    require('../../../partials/google-analytics.html').default %%>
  </head>
  <body class="blog">
    <div class="container mb-5">
      <%%= require('../../../partials/nav.html').default %%>
      <div class="card hyperbola-section-title my-3 w-100">
        <div class="card-body">
          <span class="card-title">
            <strong> hyperbo.la :: <%= post.title %> </strong>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <div class="card mb-3">
            <div class="card-body">
              <h2 class="card-title text-center">
                <a href="<%= post.absoluteUrl %>"> <%= post.title %> </a>
              </h2>
              <div
                class="h6 card-subtitle text-center mb-2 hyperbola-text-timestamp"
              >
                <a href="/contact/">Ryan Lopopolo</a> | <%= post.publishDate %>
              </div>
              <div class="card-text">
                <%%= require('<%= post.markdown %>') %%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
