.nav-link {
  color: $hyperbola-body-color;
  font-weight: bold;
}

.navbar .collapse:not(.show) .nav-link {
  padding-top: 48px;
}

.nav-link:hover {
  background: $hyperbola-body-color;
  color: $hyperbola-bg-dark;
}

.nav-link:focus {
  color: $hyperbola-body-color;
}

.nav-link:focus:hover {
  color: $hyperbola-bg-dark;
}

body.frontpage .nav-link.nav-link-frontpage,
body.contact .nav-link.nav-link-contact,
body.lifestream .nav-link.nav-link-lifestream,
body.blog .nav-link.nav-link-blog {
  color: $link-color;
  background-image: linear-gradient(to bottom, #444 0%, #888 100%);
}

.navbar-toggler-icon {
  background-image: url("./partials/navbar-toggler.svg");
}
